@media screen and (max-width: 576px) {
  /* Nav bar */
  .nav-middle {
    display: none;
  }
  .navbar {
    align-items: center;
    margin-top: 50px;
    padding: 10px 15px;
    margin: 50px 15px 20px 15px;
    gap: 120px;
  }
  .nav-img img {
    width: 63px;
    height: 38px;
  }
  /* header */
  .header {
    flex-direction: column-reverse;

    text-align: center;
    margin: 0 10px 0 10px;
  }
  .header-content h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    gap: 5px;
  }
  .header-content p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
  }

  /* product */
  .products p {
    font-size: 14px;
    font-weight: 400;
  }
  /* cart */
  .products {
    margin: 10px 10px;
  }
  .products h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
  }
  .cart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  /* plant */
  #badge {
    display: none;
  }
  .plant {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 20px;
  }
  .plant-container {
    text-align: center;
  }
  .plant-container h3 {
    font-size: 24px;
    font-weight: 700;
  }
  .plant-container ul {
    font-size: 14px;
    font-weight: 400;
  }

  /* deals */

  .deals {
    text-align: center;
    margin-bottom: 20px;
    margin: 10px;
  }
  .deals h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .deals p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .Latest-box {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
  }
  .box-1 {
    margin: 10px;
  }
  .box-2 {
    margin: 10px;
  }
  .box-3 {
    margin: 10px;
    padding: 64px 47px;
    width: 366.22px;
    height: 206px;
    margin-top: 5px;
    border-radius: 8px;
    background-image: url(../assets/deal-zabo.png);
    filter: grayscale(20%);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
  }
  .box-3 a {
    color: white;
    font-weight: 600;
  }
  .box-3 h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 19px;
    padding: 10px;
  }

  /* email */
  .colorful {
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;

    background-size: cover;
    padding: 110px 30px 50px 30px;
  }
  .colorful h1 {
    font-size: 20px;
    font-weight: 700;
  }
  .email {
    display: flex;
    justify-content: center;
    margin-top: none;
    padding: 10px 10px;
  }
  .email input {
    padding: 10px 10px;
    width: 218px;
    height: 50px;
  }
  .btn-2 {
    width: 150px;
    height: 50px;
    background-color: #e95a08;
    border: none;
    color: white;
    font-weight: 600;
    font-family: inter;
  }
  /* footer */
  .footer {
    flex-direction: column;
    margin-left: 20px;
  }
}
