* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
/* Fonts */
.noto {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
/* colors */
.primary-color {
  color: #e95a08;
}
.second-color {
  color: #8987a1;
}
.third-color {
  color: #252525;
}
.navbar,
.header,
.products,
.plant,
.deals,
.Latest-box,
.footer {
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  background-color: #e95a08;
  color: white;
  padding: 26px 50px 26px 50px;
  gap: 10px;
  border: none;
}
button:hover {
  background-color: #cf460c;
  color: #252525;
}


/* nav bar */
.navbar {
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  font-weight: 400;
  margin-bottom: 114px;
  gap: 300px;
}

.nav-middle a {
  margin-right: 48px;
  text-decoration: none;
}
/* header */
.header {
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.header-content h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 89px;
  gap: 50px;
  padding: 0 50px 0 0;
}
.header-content p {
  font-size: 22px;
  font-weight: 400;
  padding: 0 50px 0 0;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
}
.header-img img {
  /* width: 570px;
  height: 355px; */
  width: 100%;
}

/* products */
.products {
  margin-bottom: 200px;
}
.products h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.products p {
  margin-top: 16px;
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 49px;
}
.cart-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.flower-cart {
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

.flower-cart button {
  width: 100%;
}

.flower-cart img {
  width: 100%;
}
.flower-cart h5 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: 500;
}
.flower-cart h4 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 40px;
}
/* plant & badge*/
.plant {
  justify-content: center;
  align-items: start;
  gap: 70px;
  margin-bottom: 133px;
}
.plant-img img {
  width: 100%;
}
.plant-container h3 {
  font-size: 50px;
  font-weight: 700;
}
.plant-container ul {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.plant-container ul > li {
  margin-bottom: 20px;
}
#badge {
  position: relative;
}
#badge img {
  position: absolute;
  transform: translate(122%, -45%);

  width: 286px;
  height: 286px;
}
/* deals title */
.deals {
  text-align: center;
  margin-bottom: 120px;
}
.deals h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 16px;
}
.deals p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 120px;
  color: rgba(0, 0, 0, 0.5);
}
/* latest deal */
.Latest-box {
  justify-content: center;
  margin-bottom: 120px;
}
.box-left {
  margin-bottom: 0;
}
.box-1 {
  margin: 20px;
  padding: 64px 47px;
  width: 366.22px;
  height: 206px;
  border-radius: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45)),
    url(../assets/deal-bloom.png);
  filter: grayscale(20%);

  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}
.box-1 a {
  color: white;
  font-weight: 600;
}
.box-1 h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 19px;
  padding: 10px;
}
.box-2 {
  margin: 20px;
  padding: 64px 47px;
  width: 366.22px;
  height: 206px;
  border-radius: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45)),
    url(../assets/deal-ana.png);
  filter: grayscale(20%);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}
.box-2 a {
  color: white;
  font-weight: 600;
}
.box-2 h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 19px;
  padding: 10px;
}

.box-3 {
  margin: 23px;
  padding: 10px;
  width: 753px;
  height: 426.13px;
  border-radius: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45)),
    url(../assets/deal-zabo.png);

  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}
.box-3 a {
  color: white;
  font-weight: 600;
  font-size: 22px;

}

.box-1 a:hover {
  color: #e95a08;
}
.box-2 a:hover {
  color: #e95a08;
}
.box-3 a:hover {
  color: #e95a08;
}

.box-3 h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 19px;
  padding: 10px;
}

/* email */
.colorful {
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: white;
  padding: 180px 0;
}
.colorful h1 {
  font-size: 50px;
  font-weight: 700;
}
.email {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.email input {
  padding: 20px 40px;
  width: 644px;
  height: 50px;
}
.btn-2 {
  width: 186px;
  height: 50px;
  background-color: #e95a08;
  border: none;
  color: white;
  font-weight: 600;
  font-family: inter;
}
/* FOOTER */
.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: start;
  text-align: start;
}
.footer-left p {
  font-size: 22px;
  font-weight: 400;
  margin-top: 30px;
}
.footer-list li {
  list-style: none;
  margin-bottom: 30px;
}

.footer-logo img {
  margin-right: 25px;
}
